# Nestjs specific
project/dist
project/node_modules
project/generated
/build
/tmp

project/public/uploads/*

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
